.navbar {
    height: 100px;
    width: 100vw;
    background-color: #393E46;
    padding: 15px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-btn {
    min-width: 150px;
    height: 70px;
    padding: 10px;
    background-color: #222831;
    color: #00ADB5;
    font-size: 20px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    transition: all .5s;
}

.add-btn:hover {
    box-shadow: 0px 0px 20px #00ADB5;
}

.login-btn {
    background: none;
    border: none;
    font-size: 15px;
    color: #00ADB5;
    cursor: pointer;
    transition: all .5s;
}

.login-btn:hover {
    text-shadow: 0px 0px 20px #00ADB5;
}
