.player-header {
    display: flex;
    justify-content: space-around;
    width: 1025px;
    margin-top: 15px;
    border: 1px solid #393E46;
    border-radius: 10px;   
}
.player-header:hover {
    box-shadow: 0px 0px 20px #00ADB5;
}

.player-desc {
    width: 205px;
    text-align: center;
    color: #00ADB5;
    padding: 10px;
    align-items:center;
}

.player-btn {
    background: none;
    border: none;
    color: #00ADB5;
    cursor: pointer;
    margin-top: 10px;
}
.player-btn:hover {
    text-shadow: 0px 0px 20px #00ADB5;
}

.player-name-input {
    width: 150px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    border: none;
    background-color: #222831;
    color: #00ADB5;
}

.player-frak-slct {
    width: 110px;
    border-radius: 10px;
    padding: 10px;
    border-color: #00ADB5;
    border: none;
    background-color: #222831;
    color: #00ADB5;
}

.player-level-input {
    width: 150px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    border: none;
    background-color: #222831;
    color: #00ADB5;
}

.player-prem-input {
    margin-top: 10px;
}
